{% load tags %}
{% load humanize %}

<table class="table table-sm table-hover my-2">
  <thead class="bg-light">
    <th>ID</th>
    <th>Satellite</th>
    <th>Frequency</th>
    <th>Mode</th>
    <th>Timeframe</th>
    {% if show_results %}<th>Results</th>{% endif %}
    {% if show_observer %}<th>Observer</th>{% endif %}
    <th>Station</th>
  </thead>
  <tbody>
    {% for observation in observations %}
      <tr class="{% if observation.id in scheduled %}bg-info{% endif %}">
        <td class="text-nowrap">
          <a href="{% url 'base:observation_view' observation_id=observation.id %}" class="obs-link">
            {% if observation.is_future %}
              <span class="badge badge-future">{{ observation.id }}</span>
            {% elif observation.status < -100 %}
              <span class="badge badge-failed">{{ observation.id }}</span>
            {% elif observation.status >= -100 and observation.status < 0 %}
              <span class="badge badge-bad">{{ observation.id }}</span>
            {% elif observation.status >= 0 and observation.status < 100 %}
              <span class="badge badge-unknown">{{ observation.id }}</span>
            {% elif observation.status >= 100 %}
              <span class="badge badge-good">{{ observation.id }}</span>
            {% endif %}
          </a>
        </td>
        {% with satellites|get_item:observation.sat_id as sat %}
          <td class="text-nowrap">
            <a href="#" data-toggle="modal" data-target="#SatelliteModal" data-id="{{ sat.sat_id }}">
              {{ sat.name }}
            </a>
          </td>
        {% endwith %}
        <td class="text-nowrap">
          {% if observation.center_frequency %}
            {{ observation.center_frequency|frq }}
          {% else %}
            {{ observation.transmitter_downlink_low|frq }}
          {% endif %}
        </td>
        <td class="text-nowrap">
          <span data-toggle="tooltip" data-placement="bottom" title="{{ observation.transmitter_description }}">
            {{ observation.transmitter_mode|default:"-" }}
          </span>
          <span>{{ observation.transmitter_baud|floatformat|default:"" }}</span>
        </td>
        <td class="text-nowrap">
          <span data-toggle="tooltip" data-placement="bottom" title="{{ observation.start|naturaltime }}">
            <span class="datetime-date">{{ observation.start|date:"Y-m-d" }}</span>
            <span class="datetime-time">{{ observation.start|date:"H:i:s" }}</span><br>
          </span>
          <span data-toggle="tooltip" data-placement="bottom" title="{{ observation.end|naturaltime }}">
            <span class="datetime-date">{{ observation.end|date:"Y-m-d" }}</span>
            <span class="datetime-time">{{ observation.end|date:"H:i:s" }}</span>
          </span>
        </td>
        {% if show_results %}
          <td class="text-nowrap">
            {% if observation.has_waterfall %}
              <a href="{% url 'base:observation_view' observation_id=observation.id %}" class="text-dark"
                 data-toggle="tooltip" data-placement="bottom" title="Waterfall uploaded">
                <span class="bi bi-image" aria-hidden="true"></span>
              </a>
            {% endif %}
            {% if observation.has_audio %}
              <a href="{% url 'base:observation_view' observation_id=observation.id %}#tab-audio" class="text-dark"
                 data-toggle="tooltip" data-placement="bottom" title="Audio uploaded">
                <span class="bi bi-volume-up-fill" aria-hidden="true"></span>
              </a>
            {% endif %}
            {% if observation.demoddata.exists %}
              {% with total_data=observation.demoddata.count %}
                <a href="{% url 'base:observation_view' observation_id=observation.id %}#tab-data" class="text-dark"
                   data-toggle="tooltip" data-placement="bottom" title="{{ total_data }} Data uploaded">
                  <span class="bi bi-file-earmark-fill" aria-hidden="true"></span>
                  <span class="badge badge-data-count">{{ total_data }}</span>
                </a>
              {% endwith %}
            {% endif %}
          </td>
        {% endif %}
        {% if show_observer %}
          <td class="text-nowrap">
            {% if observation.author %}
              <a href="{% url 'users:view_user' username=observation.author.username %}">{{ observation.author.displayname }}</a>
            {% else %}-{% endif %}
          </td>
        {% endif %}
        <td>
          {% if observation.ground_station %}
            <a href="{% url 'base:station_view' station_id=observation.ground_station.id %}">
              {{ observation.ground_station }}
            </a>
          {% endif %}
        </td>
      </tr>
    {% empty %}
      <tr><td colspan="{% if show_results and show_observer %}8{% elif show_results or show_observer %}7{% else %}6{% endif %}" class="text-center">No observations to display</td></tr>
    {% endfor %}
  </tbody>
</table>
